*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr: #f6f6fe;

}

.searchIcon{
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 300%;
    color: #575a89;
}

/* Red close button with 'x' */
.closeButton{
    position: absolute;
    top: 0;
    right: 0;
    width: 5vh;
    height: 4vh;
    background: #ff6166;
    border: 2px solid #ff6166;
    border-radius: 20%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transform: translateY(-4.2vh);
    color: antiquewhite;
}

.searchBar{

    

    left: 10vw;
    width: 80vw;
    height: 63px;
    background: rgb(255, 255, 255);
    border-radius: 70px;
    top: 4.5vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;

}

.backdrop{
    position: absolute;
    top : 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000000e1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: clamp(50%, 700px, 90%);
    height: min(50%,300px);
    background: #8ab379;
    margin: auto;
    padding: 0 2 rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
