@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr: #f6f6fe;

}

.searchIcon{
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 300%;
    color: #575a89;
    display: flex;
    width: 80%;
}

.ocrIcon{
    position: absolute;
    /* top: 20%; */
    /* left: 5%; */
    font-size: 250%;
    color: #575a89;
}

/* Red close button with 'x' */
.closeButton{
    position: absolute;
    top: 0;
    right: 0;
    width: 5vh;
    height: 4vh;
    background: #ff6166;
    border: 2px solid #ff6166;
    border-radius: 20%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transform: translateY(-4.2vh);
    color: antiquewhite;
}

.searchBar{

    

    left: 10vw;
    width: 62vw;
    height: 63px;
    background: rgb(255, 255, 255);
    border-radius: 70px;
    top: 4.5vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #575a89;
    

}

.recalltext{
    font-size: 40%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    padding-left: 5%;
}
.ocrBar{

    right: 10vw;
    width: 14vw;
    height: 63px;
    background: rgb(255, 255, 255);
    border-radius: 25%;
    top: 4.5vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #575a89;
}


.backdrop{
    position: absolute;
    top : 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000000e1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: clamp(50%, 700px, 90%);
    height: clamp(50%,700px,80%);
    background: #a5c896;
    margin: auto;
    padding: 0 2 rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.inputTextArea{
    display: flex;
    position: absolute;
    margin-right: 10px;
    bottom: 4vh;}
.sendButton{
    width: 4em;
    height: 40px;
    border-radius: 15px;
    background-color: #8cc5f7;
    color: rgb(0, 0, 0);
    font-size: 20px;
    border: 1px solid #6ea5f2;
}

/* Create a beautiful text input box */
.inputText{
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background-color: #f2f2f2;
    color: rgb(0, 0, 0);
    font-size: 25px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10vw;
    
    padding-left: 7vw;
}
.second-input{
    margin-left: 7vw;
    margin-right: 6px;
    
}

.loginButton{

}
.OCRModal{
    width: clamp(50%, 700px, 90%);
    height: clamp(50%,700px,80%);
    background: #b6e0df;
    margin: auto;
    padding: 0 2 rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

}



