@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr: #f6f6fe;

}

/* Red close button with 'x' */
.closeButton{
    position: absolute;
    top: 0;
    right: 0;
    width: 5vh;
    height: 4vh;
    background: #ff6166;
    border: 2px solid #ff6166;
    border-radius: 20%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transform: translateY(-30px);
    color: antiquewhite;
}



.backdrop{
    position: absolute;
    top : 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000000e1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voiceModal{
    width: clamp(50%, 700px, 90%);
    height: min(50%,300px);
    background: #fbf77a;
    margin: auto;
    padding: 0 2 rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
