.wholeVid{
  display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;

}
h1{
  margin:0
}
.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Cabin', sans-serif;
  padding-top: 300px;
}

.app h3{
  text-shadow: 1px 1px 4px black;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.app h3 b{
  color: rgb(252, 212, 33);
}

.inputVid{
  width: 400px;
  height: 30px;
  padding:10px;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px 0.8px #0c1d2e;
  margin-top: 10px;
  margin-bottom: 4px;
}
.buttonVid{
    margin: 3px;
  width: 100px;
  height:40px;
  background-color: #6ea5f2;
  border:none;
  /* box-shadow: 2px 2px 1px #18619d; */
  border-radius: 15px;
  
  
}
video{
  width: 200px;
  height: 100%;
}
.formVid{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.videos{
  display: none;
  justify-content: space-between;
  
}
.active{
  display: flex;
}

.videos div{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}