*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr: #f6f6fe;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
}
